@using LeadersCorner.Common
@using LeadersCorner.Data.Models

@model LeadersCorner.Data.Models.Comment


<div>
   @* <label for="CommentContent">Comment</label>*@
    @Html.TextAreaFor(x => x.CommentContent)
</div>

