@using LeadersCorner.Common
@using LeadersCorner.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model LeadersCorner.Web.ViewModels.Article.CurrentArticleViewModel

<div class="row mt-4">
    @if (Model.Comments.Any())
    {
        <label class="mb-2">Comments:</label>
@foreach (var comment in Model.Comments)
{
<div class="col col-lg-8 col-12"> @Html.DisplayFor(x => comment)</div>} }
else
{
<div class="row">
    <h6 class="heading-margin">Be the first to comment this article!</h6>
</div>
    }
</div>
        
