@using LeadersCorner.Data.Models

@model LeadersCorner.Data.Models.Comment


<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class=" card-header">
                    <div class="media flex-wrap w-100 align-items-lg-center">
                        <div class="media-body ml-3">
                            @Model.UserName
                        </div>
                    </div>
                </div>
                <div class=" card-body">
                    @Model.CommentContent
                </div>
            </div>
        </div>
    </div>
</div>


