@using LeadersCorner.Common
@{
    this.ViewData["Title"] = "Article was created!";
}


<div class="row">
    <div class=" col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">You just created an article!</h2>
        <img src="~/Gif/clapping-applaud.gif" alt="gif image" />
    </div>
</div>
