@using LeadersCorner.Common
@model LeadersCorner.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Leaders Corner</h1>


    <div class="videoDisplay">
        <iframe class="persistentNativePlayer nativeEmbedPlayerPid"
                poster="data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%01%00%00%00%01%08%02%00%00%00%90wS%DE%00%00%00%01sRGB%00%AE%CE%1C%E9%00%00%00%09pHYs%00%00%0B%13%00%00%0B%13%01%00%9A%9C%18%00%00%00%07tIME%07%DB%0B%0A%17%041%80%9B%E7%F2%00%00%00%19tEXtComment%00Created%20with%20GIMPW%81%0E%17%00%00%00%0CIDAT%08%D7c%60%60%60%00%00%00%04%00%01'4'%0A%00%00%00%00IEND%AEB%60%82" id="pid_kplayer" kentryid="1_78p6i77q" kuiconfid="29632431" kwidgetid="_1128062" kpartnerid="1128062" preload="none" width="550" height="450" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player"
                src="https://www.youtube.com/embed/nSUJwmPQEyg?controls=0&amp;iv_load_policy=3&amp;rel=0&amp;fs=0&amp;wmode=opaque&amp;showinfo=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmmutube.mmu.ac.uk&amp;widgetid=1">
            <track kind="subtitles" language="English (British)" srclang="en_gb" label="English (British)" id="1_rr7k6dwe" fileext="srt"
                   src="https://cdnsecakmi.kaltura.com/api_v3/index.php/service/caption_captionAsset/action/serve/captionAssetId/1_rr7k6dwe/ks/ZjZiMjc5YWUzYTkzMTMyMzQxZmRjZWEyY2FkYTRjNGE0M2UyMzMzMnwxMTI4MDYyOzExMjgwNjI7MTYyOTA1OTExODswOzE2Mjg5NzI3MTguNDc4Njs7ZG93bmxvYWQ6MV83OHA2aTc3cSxkaXNhYmxlZW50aXRsZW1lbnRmb3JlbnRyeToxXzc4cDZpNzdxLHN2aWV3OjFfNzhwNmk3N3EsZG93bmxvYWRhc3NldDoxX3JyN2s2ZHdlOzs=/.srt" title="English (British)">
        </iframe>
        <div class="videoShadow">
        </div>
        <div class="controlBarContainer block open">
            <div role="slider" class="comp scrubber display-medium ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-title="0:00:00" tabindex="1" aria-label="seek" aria-valuetext="0:00:00 of 0:00:00, Use the left and right arrow keys to adjust video progress" aria-valuenow="0%" aria-valuemax="0" aria-valuemin="0" data-order="25" data-plugin-name="scrubber">
                <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min watched" style="width: 0%;">

                </div>
                <div class="handle-wrapper">

                </div>
                   
                    <button title="VR" class="btn icon-vr comp video360 pull-right display-high" data-show-tooltip="true" data-order="70" data-plugin-name="video360" tabindex="3" style="display: none;">
                    </button>
                </div>
    </div>


    <h3>Here you can find everything you want to know to be a good leader.</h3>
    <div class="handle-wrapper">

    </div>
    <h6 class="color-wrapper"> We have more than </h6>
    <ul class>
        <li class="list-group">Articles: @Model.ArticlesCout</li>
        <li class="list-group">Courses: @Model.CourseCount</li>
    </ul>

    <h5> Thank you for choosing us! </h5>
</div>