@using LeadersCorner.Common
@model LeadersCorner.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Leaders Corner</h1>


    <div class="videoDisplay">
        <iframe class="persistentNativePlayer nativeEmbedPlayerPid"
                poster="data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%01%00%00%00%01%08%02%00%00%00%90wS%DE%00%00%00%01sRGB%00%AE%CE%1C%E9%00%00%00%09pHYs%00%00%0B%13%00%00%0B%13%01%00%9A%9C%18%00%00%00%07tIME%07%DB%0B%0A%17%041%80%9B%E7%F2%00%00%00%19tEXtComment%00Created%20with%20GIMPW%81%0E%17%00%00%00%0CIDAT%08%D7c%60%60%60%00%00%00%04%00%01'4'%0A%00%00%00%00IEND%AEB%60%82" id="pid_kplayer" kentryid="1_78p6i77q" kuiconfid="29632431" kwidgetid="_1128062" kpartnerid="1128062" preload="none" width="550" height="450" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player"
                src="https://www.youtube.com/embed/nSUJwmPQEyg?controls=0&amp;iv_load_policy=3&amp;rel=0&amp;fs=0&amp;wmode=opaque&amp;showinfo=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmmutube.mmu.ac.uk&amp;widgetid=1">
            <track kind="subtitles" language="English (British)" srclang="en_gb" label="English (British)" id="1_rr7k6dwe" fileext="srt"
                   src="https://cdnsecakmi.kaltura.com/api_v3/index.php/service/caption_captionAsset/action/serve/captionAssetId/1_rr7k6dwe/ks/ZjZiMjc5YWUzYTkzMTMyMzQxZmRjZWEyY2FkYTRjNGE0M2UyMzMzMnwxMTI4MDYyOzExMjgwNjI7MTYyOTA1OTExODswOzE2Mjg5NzI3MTguNDc4Njs7ZG93bmxvYWQ6MV83OHA2aTc3cSxkaXNhYmxlZW50aXRsZW1lbnRmb3JlbnRyeToxXzc4cDZpNzdxLHN2aWV3OjFfNzhwNmk3N3EsZG93bmxvYWRhc3NldDoxX3JyN2s2ZHdlOzs=/.srt" title="English (British)">
        </iframe>
        <div class="videoShadow">
        </div>
        <div class="controlBarContainer block open">
            <div role="slider" class="comp scrubber display-medium ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-title="0:00:00" tabindex="1" aria-label="seek" aria-valuetext="0:00:00 of 0:00:00, Use the left and right arrow keys to adjust video progress" aria-valuenow="0%" aria-valuemax="0" aria-valuemin="0" data-order="25" data-plugin-name="scrubber">
                <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min watched" style="width: 0%;">

                </div>
                <div class="handle-wrapper">

                </div>
                    @*<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default playHead PIE btn" style="left: 0%;"></span></div><div class="buffered"></div><div class="sliderPreview" style="display: none;"><div class="arrow"></div><span class="sliderPreviewTime"></span></div>
        
          <div class="controlsContainer">
            <button title="Play clip" class="btn comp playPauseBtn display-high icon-play" data-show-tooltip="true" data-order="1" data-plugin-name="playPauseBtn" tabindex="1" aria-label="Play clip">
            </button>
            <div class="comp volumeControl display-medium horizontal noTransition" data-order="11" data-plugin-name="volumeControl">
                <button class="btn icon-volume-high" title="Mute" id="muteBtn" aria-label="Mute" data-show-tooltip="true" tabindex="2">
                </button>
                <div class="slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" tabindex="3">
                    <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 100%;">
                    </div>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
                </div>
            </div>
            <div class="back-to-live comp liveStatus display-high" data-show-tooltip="true" data-order="22" data-plugin-name="liveStatus" title="" style="display: none;">
                <div class="btn timers offline-icon comp liveStatus display-high icon-off-air live-icon not-clickable" tabindex="3"></div>
                <div class="back-to-live-text timers not-clickable comp liveStatus display-high">Off Air</div>
            </div>*@
                    @*button class="comp logo pull-right kaltura-logo display-low btn" data-order="41" data-plugin-name="logo" tabindex="9">
        <a class="btnFixed" title="mmutube" aria-label="mmutube"></a></button><*@
                    <!--<button title="Full screen" class="btn icon-expand comp fullScreenBtn pull-right display-high" aria-label="Full screen" data-show-tooltip="true" data-order="51" data-plugin-name="fullScreenBtn" tabindex="8"></button>
    <button title="Expand player screen" class="btn icon-fullscreen-alt comp expandToggleBtn pull-right display-high" aria-label="Expand player screen" data-show-tooltip="true" data-order="51" data-plugin-name="expandToggleBtn" tabindex="7"></button><div class="dropup comp sourceSelector pull-right display-low" data-order="61" data-plugin-name="sourceSelector">
        <button class="btn icon-cog" title="Quality Settings" aria-haspopup="true" aria-label="Quality Settings" data-show-tooltip="true" tabindex="6"></button><ul class="dropdown-menu" role="menu" aria-labelledby="Quality Settings" id="ui-id-1">
            <li class="active" aria-checked="true"><a href="#" title="Auto" role="menuitemcheckbox" aria-checked="true" tabindex="1.01" aria-label="Auto Source quality">Auto</a></li>
        </ul>
    </div>
    <div class="dropup comp playbackRateSelector pull-right display-medium" data-order="61" data-plugin-name="playbackRateSelector">
        <button class="btn" title="Playback Speed" aria-haspopup="true" aria-label="Playback Speed" data-show-tooltip="true" tabindex="5">1x</button>
        <ul aria-expanded="false" class="dropdown-menu" role="menu" aria-labelledby="Playback Speed" id="ui-id-2">
            <li>
                <a href="#" title="0.5x" role="menuitemcheckbox" aria-checked="false" tabindex="5.01" aria-label="0.5 Media Speed">0.5x</a>
            </li>
            <li class="divider">

            </li>
            <li><a href="#" title="0.75x" role="menuitemcheckbox" aria-checked="false" tabindex="5.02" aria-label="0.75 Media Speed">0.75x</a></li>
            <li class="divider">

            </li>
            <li class="active" aria-checked="true">
                <a href="#" title="1x" role="menuitemcheckbox" aria-checked="true" tabindex="5.03" aria-label="1 Media Speed">1x</a>
            </li>
            <li class="divider">

            </li>
            <li>
                <a href="#" title="1.5x" role="menuitemcheckbox" aria-checked="false" tabindex="5.04" aria-label="1.5 Media Speed">1.5x</a>
            </li>
            <li class="divider"></li>
            <li><a href="#" title="2x" role="menuitemcheckbox" aria-checked="false" tabindex="5.05" aria-label="2 Media Speed">2x</a></li>
        </ul>
    </div>
    <div class="dropup comp closedCaptions pull-right display-high" data-order="62" data-plugin-name="closedCaptions" style="">
        <button class="btn icon-cc" title="Closed Captions" aria-label="Closed Captions" aria-haspopup="true" data-show-tooltip="true" tabindex="4">
        </button>
        <ul class="dropdown-menu" aria-expanded="false" role="menu" aria-labelledby="Closed Captions" id="ui-id-3">
            <li class="offBtn">
                <a href="#" title="Off" role="menuitemcheckbox" aria-checked="false" tabindex="4.01">Off</a>
            </li>
            <li class="divider">
            </li>
            <li class="active" aria-checked="true">
                <a href="#" title="English (British)" role="menuitemcheckbox" aria-checked="true" tabindex="4.02">English (British)</a>
            </li>
        </ul>
    </div>-->
                    <button title="VR" class="btn icon-vr comp video360 pull-right display-high" data-show-tooltip="true" data-order="70" data-plugin-name="video360" tabindex="3" style="display: none;">
                    </button>
                </div>
    </div>


    <h3>Here you can find everything you want to know to be a good leader.</h3>
    <div class="handle-wrapper">

    </div>
    <h6 class="color-wrapper"> We have more than </h6>
    <ul class>
        <li class="list-group">Articles: @Model.ArticlesCout</li>
        <li class="list-group">Courses: @Model.CourseCount</li>
    </ul>

    <h5> Thank you for choosing us! </h5>
</div>