
@{
    this.ViewData["Title"] = "Wellcome to the team";
}

<div class="text-center">

    <img src="~/Gif/images.png" alt="gif image" />
    <h3 class="margin-top-alotofspace custom-padding custom-text-color">You can share your knowledge and best practices in order to be a good leader.</h3>


    <a href='@Url.Action("Create", "Article" )'>
        <button class="btn btn-primary margin-top-alotofspace">Create you first Article!</button>
    </a>
    <a href='@Url.Action("Create", "Course" )'>
        <button class="btn btn-primary margin-top-alotofspace">Create you first Course!</button>
    </a>
    <h5 class="underline--left margin-top-alotofspace custom-padding"><i> Thank you for joining us! </i></h5>

</div>
