
@{
    this.ViewData["Title"] = "Wellcome to the board";
}

<div class="text-center">
    <h1 class="display-4">Wellcome to the board!</h1>
    <p>You can share your knoledge and best practices how to be a good leader.</p>

   
    <a href= '@Url.Action("Create", "Article" )'>
        
        <button>Create you first Article!</button>
    </a>
    <p> Thank you for joining us! </p>

</div>
